{% extends "base.html" %}
{% block title %}Ubah Password - duitRT{% endblock %}

{% block content %}
<div class="container py-4">
  <h4 class="mb-4">🔒 Ubah Password - <strong>{{ nama }}</strong></h4>
  <form method="POST">
    <div class="mb-3">
      <label for="password_lama" class="form-label">Password Lama</label>
      <input type="password" class="form-control" name="password_lama" required>
    </div>
    <div class="mb-3">
      <label for="password_baru" class="form-label">Password Baru</label>
      <input type="password" class="form-control" name="password_baru" required>
    </div>
    <div class="mb-3">
      <label for="konfirmasi" class="form-label">Konfirmasi Password Baru</label>
      <input type="password" class="form-control" name="konfirmasi" required>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-lock"></i> Simpan Perubahan</button>
  </form>
</div>
{% endblock %}
